/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-family: 'Open Sans' !important;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body{
    font-family: 'Open Sans' !important;
    margin: 0;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}
.green-text{
    color: #1d723b;
    text-decoration: none;
}
.dark-blue-background{
    background-color: #093141;
}
.dark-blue-text{
    color: #055473;
}
.border-bottom-only{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
}
.hidden-opacity{
    opacity: 0;
    visibility: hidden;
}
.hide,
.main-wrapper.hide{
    display: none !important;
}
.nav-margin-left{
    margin-left: -80%;
}
.close-rotate{
    transform: rotate(45deg);
    transition: all 3s ease-in-out;
    transition-delay: 1000ms;
}
.close-menu{
    transition: all 0.5s ease-in-out;
}
.main-wrapper{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px !important;
}
.fa{
    font-size: 30px;
}
.continue-button{
    margin: auto;
    display: block;
    padding: 10px 9px 10px 9px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: #286488;
    -webkit-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
}
.btn-back{
    margin: auto;
    display: block;
    padding: 10px 9px 10px 9px;
    border-radius: 7px;
    border: none;
    color: #286488;
    background-color: #fff;
    -webkit-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    margin-top: 40px;
    font-weight: bold;
    width: 80%;
    border: 1px solid rgb(233, 233, 233);
    position: relative;
    bottom: 20px;
}
/* css reset */
/* logo */
.logo_wrapper:not(.main-nav .logo_wrapper){
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    top: 5px;
}
.main-nav .logo_wrapper{
    overflow: hidden;
    margin-bottom: 20px;
    top: 5px;
}
.main.logo{
    height: 65px;
    width: 65px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
/* logo */
/* login page */
#login-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#login-page a{
    font-weight: bold;
    text-align: center;
    display: block;
}
#login-page input,
#login-page .wrapper{
    width: 100%;
}
#login-page #dugme{
    padding: 10px 9px 10px 9px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: #286488;
    -webkit-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
}
/* login page */
/* forgotten password */
.forgotten-password #mauticform_input_izgubljenalozinkaloyalty_submit{
    padding: 10px 9px 10px 9px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: #286488;
    -webkit-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    margin: auto;
    display: block !important;
}
.forgotten-password .wrapper{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* forgotten password */
/* menu */
.menu-wrapper{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}
/* .main-nav{
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
    z-index: 2;
} */
.main-nav{
    position: fixed;
    width: 80%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 17px -7px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
    z-index: 2;
}
.nav-list a{
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.nav-list a p{
    margin-left: 10px;
}
.nav-list a .fa{
    width: 40px;
}
.nav-list li{
    margin-top: 20px;
    padding-left: 20px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.close-menu{
    height: 34px;
    width: 34px;
    position: absolute;
    right: 10px;
    top: 36px;
    padding: 0;    
    background: #fff;
    border: none;
}
/* menu */

.backdrop:not(.hide),
.backdrop_sucess:not(.hide){
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #093141;
    /* #093141 */
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.backdrop_sucess{
    flex-direction: column;
}
.backdrop_sucess a,
.backdrop_sucess p{
    font-size: 25px;
    color: #fff;
    margin-bottom: 30px;
    text-decoration: none;
}
.backdrop_sucess a{
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 10px 9px 10px 9px;
    background-color: #116b8f;
    -webkit-box-shadow: 6px 4px 17px -7px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 6px 4px 17px -7px rgba(255, 255, 255, 0.75);
    box-shadow: 6px 4px 17px -7px rgba(253, 253, 253, 0.75);
}
.backdrop.hide,
.backdrop_sucess.hide{
    display: none;
}
.backdrop .loader{
    width: 150px;
    height: auto;
}